<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CoinTraderApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.CoinTrader"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">

            <!-- App launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
                Coinbase OAuth2 redirect: cointrader://oauth/callback
                After the user logs in, Coinbase redirects here with ?code=xxx&state=yyy
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="cointrader"
                    android:host="oauth"
                    android:pathPrefix="/callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
